body{
    background:#d5edf8;
  }
  .main {
    font-family:Arial;
    width:500px;
    display:block;
    margin:0 auto;
  }
  h3 {
      background: #fff;
      color: rgb(0, 0, 5);
      font-size: 36px;
      line-height: 100px;
      margin: 10px;
      padding: 2%;
      position: relative;
      text-align: center;
  }
  .action{
    display:block;
    margin:100px auto;
    width:100%;
    text-align:center;
  }
  .action a {
    display:inline-block;
    padding:5px 10px;
    background: blue;
    color:#fff;
    text-decoration:none;
    border-radius: 50px;
  }
  .action a:hover{
    background:red;
  }
  
